<section>
    <div class="container">
        <div class="row front">
            <div class="col-md-6">
                <h2 class="h1 hero-title">
                    <span class="span">Your </span>
                </h2>
                <h2 class="hero-text">5-Minute Bus tracker</h2>
                <p class="para">Connecting You to Your Destination with Ease!</p>
                 <a class="btn btn-success mt-3 ml-3" href="/bookbus">Book</a>
                <!-- Modify the Track button to include JavaScript -->
                <a class="btn btn-success mt-3 ml-3" href="/trackbus">Track</a>

            </div>
        </div>
    </div>
</section>
