<section class="services-section">
    <div class="container">
        <h1 class="mt-5 section-title text-center text-light">Our Services</h1>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card  ">
                    <div class="card-body">
                        <h5 class="card-title">Bus Tracking</h5>
                        <p class="card-text">Track your bus in real-time and get live updates on its location.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ticket Purchase</h5>
                        <p class="card-text">Purchase bus tickets hassle-free through our app.</p>
                    </div>
                </div>
            </div>
        </div>

      
        <h1 class="section-title text-center text-light">Additional Features</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-check-circle feature-icon"></i>Live Notifications</h5>
                        <p class="card-text">Receive real-time notifications about bus delays, route changes, and more.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-check-circle feature-icon"></i>Secure Payments</h5>
                        <p class="card-text">Make secure payments for your bus tickets using various payment methods.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-check-circle feature-icon"></i>User-friendly Interface</h5>
                        <p class="card-text">Enjoy a simple and intuitive interface for effortless navigation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
