<!-- user/trackbus.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Bus</title>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
</head>
<body>
    
    <div id="map"></div>
    
    <script>
        // Define the markersData passed from the server
        const markersData = {{{markersData}}}; // Use triple braces to prevent HTML escaping

        // Initialize the map
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: { lat: 10.6114766, lng: 75.815269 }, // You can set the center as per your requirements
            });

            // Loop through the markersData and add markers to the map
            markersData.forEach(marker => {
                new google.maps.Marker({
                    position: { lat: marker.lat, lng: marker.lng },
                    map: map,
                    title: marker.popupText
                });
            });
        }
    </script>
   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZn6CIbwqD7CsUvxdmOuZ0MVNLfghh5Qw&callback=initMap" async defer></script>

</body>
</html>